.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.headerLogo {
  margin-top: 3%;
  margin-right: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2.logo {
  margin-left: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #484848;
}

a.back {
  text-decoration: none;
}

label.formP {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #686868;
  margin-bottom: 1%;
}

input.formInput {
  width: 590px;
  height: 46px;
  background: #ffffff;
  border: 1.5px solid #484848;
  border-radius: 12px;
  outline: none;
  padding: 20px;
  margin-bottom: 2%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  &:hover {
    background: rgba(100, 100, 100, 0.08);
    border: 2px solid rgba(72, 72, 72, 0.6);
    border-radius: 8px;
  }
}

button.buttonAdd {
  margin-top: 1%;
  width: 138px;
  height: 46px;
  background: #204080;
  border-radius: 12px;
  outline: none;
  border: none;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    background: #4f75c2;
  }
}

.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 23%;
  margin-bottom: 1%;
}

.addFormLeftItem {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
